* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #3535EC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ap-container {
    height: 60vh;
    background-color: #4c4ca7;
    border-radius: 10px;
}

.ap-button {
    display: none;
}

.disapear {
    display: none !important;
}

.player {
    margin-right: 10px;
}